.wp-block-jsforwpblocks-my-block{
  color: #fff;
  padding: 1em;
}
.entry-content .wp-block-jsforwpblocks-my-block {
  background: rgb(238,174,202);
}

.entry-content .wp-block-jsforwpblocks-my-block.magic {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}